#qna{
    display : none;
}

.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
    width: 80%;
}

.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 20px;

}

.answerList:hover, .answerList:focus{
    background-color: violet;
    color: whitesmoke
}

.status{
    height: 20px;
    width : 80%;
    background-color: white;
    border-radius: 20px;
}

.statusBar{
border-radius: 20px;
height: 100%;
background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 43%, #ff5c5c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 43%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 43%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */

}