#qna{
    display : none;
}

.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
    width: 80%;
}

.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 20px;

}

.answerList:hover, .answerList:focus{
    background-color: rgb(46, 218, 224);
    color: whitesmoke
}

.status{
    height: 20px;
    width : 80%;
    background-color: whitesmoke;
    border-radius: 20px;
}

.statusBar{
    border-radius: 20px;
    height: 100%;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+43,ff5c5c+100 */
   background: rgb(46, 218, 224);
   

}