#result{
    display: none;
    background: whitesmoke(253, 253, 253, 0.965); /* Old browsers */
    
    text-align: center;
    border-radius: 30px;
}

.resultname{
    font-size: 20px;
}
.resultDesc{
    font-size: 20px;
 }